html, body {
    background-color: #F3F7F9;
    margin: 0;
}
h2 { color: #333333 !important;}
#redoc-container .operation-type {
    display: none;
}
div[data-section-id] { padding: 15px 0 !important};
