<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Code42 API Documentation</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag :redocoverrides %>
  </head>
  <body>
    <%= partial(:top_nav) %>
    <div id="redoc-container"></div>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
    <script>
        var opts = {
            hideHostname: true,
            theme: {
                colors: {
                    primary: {
                        main: "#333333"
                    }
                },
                sidebar: {
                    width: "345px",
                    backgroundColor: "#00284c",
                    textColor: "#fff"
                },
                rightPanel: {
                    backgroundColor: "#00284c"
                },
                typography: {
                    headings: {
                        fontFamily: "Roboto, sans-serif",
                        fontWeight: "700"
                    }
                }
            }
        };
        Redoc.init("/sandbox/api/code42api.json", opts, document.getElementById("redoc-container"))
    </script>
  </body>
</html>
