<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Code42 API Documentation</title>
    <%= stylesheet_link_tag :redocoverrides %>
    <link rel="stylesheet" href="https://use.typekit.net/sxu2uqu.css">
    <%= favicon_tag 'favicon.ico' %>
  </head>
  <body>
    <%= partial(:top_nav) %>
    <div id="redoc-container"></div>
    <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.40/bundles/redoc.standalone.js"> </script>
    <script>
        var opts = {
            hideHostname: true,
            scrollYOffset: 68,
            theme: {
                colors: {
                    primary: {
                        main: "#333333"
                    }
                },
                sidebar: {
                    width: "345px",
                    backgroundColor: "#00284c",
                    textColor: "#fff"
                },
                rightPanel: {
                    backgroundColor: "#00284c"
                },
                typography: {
                    headings: {
                        fontFamily: "'proxima-nova', sans-serif",
                        fontWeight: "700"
                    }
                }
            }
        };
        Redoc.init("/sandbox/api/code42api.json", opts, document.getElementById("redoc-container"))
    </script>
  </body>
</html>
