---
title: Integration Guides

search: true

code_clipboard: true

hide_toc: true
---

# Integration Guides

## Microsoft Sentinel

Microsoft Sentinel can accept arbitrary json data as Custom Log sources, so you can ingest almost any type of Incydr
data for querying within Sentinel, including [Alerts](api#tag/Alerts/operation/Alerts_QueryAlert), [File Events](api#tag/File-Events/operation/searchEventsUsingPOST_1),
and [Audit Log](api#tag/Audit-Log/operation/searchAuditLog) events.

Sentinel has two methods of ingesting JSON data as Custom Log sources: the data collector HTTP API, and the Log
Analytics Linux agent. While the examples below will focus on Incydr Alerts, the patterns can be re-used for almost any
type of data you can pull from the Code42 API or CLI.

### Send Incydr Alerts to Sentinel with py42 and the Azure Monitor data collector API

This guide outlines how to send Incydr Alerts to Sentinel with a Python script using [py42](https://py42docs.code42.com)
and the [data collector API](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-api).

<details style="margin-left: 30px; margin-right: 60px">
    <summary><b><span style="color: #1976d2;cursor:pointer;">Expand guide</span></b></summary>
    <%= partial "azure-sentinel-data-collector" %>
</details>

### Send Incydr Alerts to Sentinel with the Code42 CLI and the Azure Log Analytics Linux agent

This guide outlines how to configure a [custom JSON source for ingest using the Azure Log Analytics agent](https://learn.microsoft.com/en-us/azure/azure-monitor/agents/data-sources-json)
The [Code42 CLI](https://clidocs.code42.com/en/stable/) can then be installed on the same machine to fetch alerts
periodically using the Log Analytics agent configuration.

<details style="margin-left: 30px; margin-right: 60px">
    <summary><b><span style="color: #1976d2;cursor:pointer;">Expand guide</span></b></summary>
    <%= partial "azure-sentinel-log-analytics" %>
</details>
