<nav class="top-nav">
    <div class="nav-logo">
        <a href="/">
            <%= image_tag "logo_developers.svg", class: 'logo' %>
        </a>
    </div>
        <div class="nav-item">
            <a href="#">APIs & SDK</a>
            <ul class="drop-menu">
                <li><a href="/api">API Reference</a></li>
                <li><a href="https://py42docs.code42.com" target="_blank">Py42</a></li>
                <li><a href="https://clidocs.code42.com" target="_blank">CLI</a></li>
            </ul>
        </div>
    </ul>
</nav>
