<nav class="top-nav">
    <div class="nav-menu">
    <a href="/sandbox" class="nav-item">Docs</a>
    <a href="/sandbox/api" class="nav-item">APIs & SDKs</a>
    <a href="https://support.code42.com" class="nav-item">Support</a>
    </div>
</nav>
