<nav class="top-nav">
    <div class="nav-logo">
        <a href="/">
            <%= image_tag "logo_developers.svg", class: 'logo' %>
        </a>
    </div>
    <div class="nav-menu">
        <div class="nav-item">
            <a href="#">Use Cases</a>
            <ul class="drop-menu">
                <li><a href="/track-hre-file-activity/">High Risk Employee</a></li>
                <li><a href="/respond-to-an-alert/">Respond to an Alert</a></li>
            </ul>
        </div>
        <div class="nav-item">
            <a href="#">Guides</a>
            <ul class="drop-menu">
                <li><a href="/detection-list-management-api/">Detection List Mgmt</a></li>
                <li><a href="/forensic-search-api/">Forensic Search</a></li>
                <li><a href="/security-alerts-api/">Security Alerts</a></li>
            </ul>
        </div>
        <div class="nav-item">
            <a href="#">APIs & SDK</a>
            <ul class="drop-menu">
                <li><a href="/api">API Reference</a></li>
                <li><a href="https://py42docs.code42.com" target="_blank">Py42</a></li>
                <li><a href="https://clidocs.code42.com" target="_blank">CLI</a></li>
            </ul>
        </div>
    </ul>
</nav>
