<nav class="top-nav">
    <div class="nav-menu">
        <div class="nav-item">
            <a href="/sandbox">Docs</a>
        </div>
        <div class="nav-item">
            <a href="/sandbox/api">APIs & SDKs</a>
        </div>
        <div class="nav-item">
            <a href="https://support.code42.com">Support</a>
        </div>
    </div>
</nav>
