<nav class="top-nav">
    <div class="nav-menu">
        <div class="nav-item">
            <a href="/sandbox">Docs</a>
        </div>
        <div class="nav-item">
            <a href="#">APIs & SDKs</a>
            <ul class="drop-menu">
                <li><a href="/sandbox/api">API Reference</a></li>
                <li><a href="https://py42docs.code42.com">Python SDK</a></li>
                <li><a href="https://clidocs.code42.com">Command Line Interface</a></li>
            </ul>
        </div>
        <div class="nav-item">
            <a href="https://support.code42.com">Support</a>
        </div>
    </ul>
</nav>
