<nav class="top-nav">
    <div class="nav-logo">
        <a href="/">
            <%= image_tag "logo_developers.svg", class: 'logo' %>
        </a>
    </div>
    <div class="nav-menu">
        <div class="nav-item">
            <a href="https://py42docs.code42.com" target="_blank">Py42</a>
        </div>
        <div class="nav-item">
            <a href="https://clidocs.code42.com" target="_blank">CLI</a>
        </div>
        <div class="nav-item">
            <a href="/integration-guides" target="_blank">Integration Guides</a>
        </div>
        <div class="nav-item">
            <a href="/api">API Reference</a>
        </div>
    </div>
</nav>
